@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header a:hover {
  text-decoration: solid;
  font-size: 20px;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 15px;
  animation: marcado; }

.pie {
  background-color: aqua;
  position: absolute;
  width: 100%;
  padding: 1em 0; }
  .pie ul {
    text-align: center; }
    .pie ul li {
      display: inline-block;
      margin: 20px; }
      .pie ul li a .LogoPie {
        width: 35px;
        height: 35px;
        align-items: center; }

.grid-contenedor-padre .submenup {
  display: flex;
  justify-content: center;
  align-items: center; }

main .principal .cards .promo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

main {
  font-family: Georgia, 'Times New Roman', Times, serif; }
  main .cabeza {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(#ffdcaf, white); }
    main .cabeza h1 {
      font-family: 'Lato', sans-serif;
      color: #0042f8;
      text-align: center;
      font-style: italic;
      font-size: 50px;
      font-weight: 700; }
  main .principal .carrusell {
    margin-top: 50px; }
    main .principal .carrusell .ofertas img {
      height: 400px; }
  main .principal .cards {
    background-image: url(../img/pañales.jpg);
    padding-bottom: 20px; }
    main .principal .cards h2 {
      color: #7affd3;
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    main .principal .cards .promo div {
      border: solid 1px wheat;
      border-radius: 15px;
      width: 200px;
      height: 300px;
      text-align: center;
      background-color: antiquewhite;
      margin: 5px; }
      main .principal .cards .promo div img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      main .principal .cards .promo div h3 {
        color: black;
        margin-bottom: 10px;
        font-size: 20px; }
      main .principal .cards .promo div p {
        color: black;
        margin-bottom: 20px; }
      main .principal .cards .promo div a {
        text-decoration: 5px;
        padding: 5px;
        border-radius: 5px;
        color: black;
        background-color: #f599f0; }

.grid-contenedor-padre .submenup {
  display: flex;
  justify-content: center;
  align-items: center; }

main .principal .cards .promo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.prodsec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pañales.jpg);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  grid-template-areas: "submenu cards1 cards1"
 "submenu cards2 cards2"; }
  .prodsec .submenup {
    grid-area: submenu;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
    .prodsec .submenup nav ul .filtro-productos {
      background-color: rgba(240, 192, 130, 0.863);
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px; }
      .prodsec .submenup nav ul .filtro-productos div {
        margin: 35px; }
  .prodsec .cards1 {
    grid-area: cards1; }
    .prodsec .cards1 h2 {
      color: #7affd3;
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .prodsec .cards1 .promo {
      display: flex;
      flex-wrap: wrap; }
      .prodsec .cards1 .promo div {
        margin: 5px;
        border: solid 1px wheat;
        border-radius: 15px;
        width: 200px;
        height: 330px;
        text-align: center;
        background-color: antiquewhite;
        box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75); }
        .prodsec .cards1 .promo div img {
          width: 200px;
          height: 200px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        .prodsec .cards1 .promo div h3 {
          color: black;
          margin-bottom: 5px;
          font-size: 20px; }
        .prodsec .cards1 .promo div p {
          color: black;
          margin-bottom: 10px; }
        .prodsec .cards1 .promo div form {
          margin-bottom: 15px; }
        .prodsec .cards1 .promo div a {
          text-decoration: 5px;
          padding: 5px;
          border-radius: 5px;
          color: black;
          background-color: #f599f0; }
  .prodsec .cards2 h2 {
    color: #7affd3;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .prodsec .cards2 .promo {
    display: flex;
    flex-wrap: wrap; }
    .prodsec .cards2 .promo div {
      margin: 5px;
      border: solid 1px wheat;
      border-radius: 15px;
      width: 200px;
      height: 330px;
      text-align: center;
      background-color: antiquewhite;
      box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75); }
      .prodsec .cards2 .promo div img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      .prodsec .cards2 .promo div h3 {
        color: black;
        margin-bottom: 5px;
        font-size: 20px; }
      .prodsec .cards2 .promo div p {
        color: black;
        margin-bottom: 10px; }
      .prodsec .cards2 .promo div form {
        margin-bottom: 15px; }
      .prodsec .cards2 .promo div a {
        text-decoration: 5px;
        padding: 5px;
        border-radius: 5px;
        color: black;
        background-color: #f599f0; }

.ubicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "gps text";
  background-color: antiquewhite;
  text-align: center;
  align-items: center; }
  .ubicacion .gps {
    grid-area: gps; }
    .ubicacion .gps iframe {
      width: 100%;
      height: 100vmin; }
  .ubicacion .textubi {
    grid-area: text; }

.grid-contenedor-padre .submenup {
  display: flex;
  justify-content: center;
  align-items: center; }

main .principal .cards .promo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.grid-contenedor-padre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pañales.jpg);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  grid-template-areas: "submenu cards1 cards1"
 "submenu cards2 cards2"; }
  .grid-contenedor-padre .submenup {
    grid-area: submenu;
    margin-top: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    .grid-contenedor-padre .submenup .filtro-juguetes {
      background-color: rgba(240, 192, 130, 0.863);
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px; }
      .grid-contenedor-padre .submenup .filtro-juguetes div {
        margin: 35px; }
  .grid-contenedor-padre .cards1-juguetes {
    grid-area: cards1; }
    .grid-contenedor-padre .cards1-juguetes h2 {
      color: #7affd3;
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .grid-contenedor-padre .cards1-juguetes .promo {
      display: flex;
      justify-content: center; }
      .grid-contenedor-padre .cards1-juguetes .promo div {
        margin: 5px;
        border: solid 1px wheat;
        border-radius: 15px;
        width: 200px;
        height: 330px;
        text-align: center;
        background-color: antiquewhite;
        box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75); }
        .grid-contenedor-padre .cards1-juguetes .promo div img {
          width: 200px;
          height: 200px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        .grid-contenedor-padre .cards1-juguetes .promo div h3 {
          color: black;
          margin-bottom: 5px;
          font-size: 20px; }
        .grid-contenedor-padre .cards1-juguetes .promo div p {
          color: black;
          margin-bottom: 10px; }
        .grid-contenedor-padre .cards1-juguetes .promo div form {
          margin-bottom: 15px; }
        .grid-contenedor-padre .cards1-juguetes .promo div a {
          text-decoration: 5px;
          padding: 5px;
          border-radius: 5px;
          color: black;
          background-color: #f599f0; }
  .grid-contenedor-padre .cards2-juguetes {
    grid-area: cards2; }
    .grid-contenedor-padre .cards2-juguetes h2 {
      color: #7affd3;
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .grid-contenedor-padre .cards2-juguetes .promo {
      display: flex;
      justify-items: center; }
      .grid-contenedor-padre .cards2-juguetes .promo div {
        margin: 5px;
        border: solid 1px wheat;
        border-radius: 15px;
        width: 200px;
        height: 330px;
        text-align: center;
        background-color: antiquewhite;
        box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px -3px rgba(3, 0, 0, 0.75); }
        .grid-contenedor-padre .cards2-juguetes .promo div img {
          width: 200px;
          height: 200px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; }
        .grid-contenedor-padre .cards2-juguetes .promo div h3 {
          color: black;
          margin-bottom: 5px;
          font-size: 20px; }
        .grid-contenedor-padre .cards2-juguetes .promo div p {
          color: black;
          margin-bottom: 10px; }
        .grid-contenedor-padre .cards2-juguetes .promo div form {
          margin-bottom: 15px; }
        .grid-contenedor-padre .cards2-juguetes .promo div a {
          text-decoration: 5px;
          padding: 5px;
          border-radius: 5px;
          color: black;
          background-color: #f599f0; }

#contacto {
  background-image: linear-gradient(#ffdcaf, white); }

@media screen and (max-width: 805px) {
  .cabeza .Titulo-Principal {
    font-size: 45px; } }

@media screen and (max-width: 654px) {
  .cabeza .Titulo-Principal {
    font-size: 40px; } }

@media screen and (max-width: 510px) {
  .cabeza .Titulo-Principal {
    font-size: 30px; } }

@media screen and (max-width: 1075px) {
  .cabeza .container-fluid div div .principal-logo {
    width: 500px;
    height: 450px; } }

@media screen and (max-width: 619px) {
  .cabeza .container-fluid div div .principal-logo {
    width: 450px;
    height: 400px; } }

@media screen and (max-width: 444px) {
  .cabeza .container-fluid div div .principal-logo {
    width: 350px;
    height: 300px; } }

@media screen and (max-width: 960px) {
  .principal .carrusell .ofertas {
    width: auto;
    height: auto; } }

@media screen and (max-width: 1059px) {
  .ubicacion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "gps"
 "txt"; }
    .ubicacion .gps {
      grid-area: gps; }
      .ubicacion .gps iframe {
        width: 600px;
        height: 100vh; }
    .ubicacion .textubi {
      grid-area: txt; } }

@media screen and (max-width: 700px) {
  .ubicacion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "gps"
 "txt"; }
    .ubicacion .gps {
      grid-area: gps; }
      .ubicacion .gps iframe {
        width: 350px;
        height: 70vh; }
    .ubicacion .textubi {
      grid-area: txt; } }

@media screen and (max-width: 560px) {
  .pie ul li {
    display: flex;
    flex-direction: column;
    text-align: center; } }
