.pie{
    background-color: aqua;
    position: absolute;
    width: 100%;
    padding: 1em 0;
    ul{
        text-align: center;
        li{
            display: inline-block;
            margin: 20px;
            a{
                .LogoPie{
                    width: 35px;
                    height: 35px;
                    align-items: center;
                }
            }
        }
    }
}
@media screen and (max-width:560px) {    
    .pie ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}