.ubicacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "gps text";
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    .gps{
        grid-area: gps;
        iframe{
            width:100%;
            height: 100vmin;
        }
    }
    .textubi{
        grid-area:text;
    }
}
