// ------------------ INDEX ---------------------
@media screen and (max-width: 805px){
    main h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 654px){
    main h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 510px){
    main h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 1075px){
    .cabeza img{
        width: 500px;
        height: 450px;
    }
}
@media screen and (max-width: 619px){
    .cabeza img{
        width: 400px;
        height: 350px;
    }
}
@media screen and (max-width: 444px){
    .cabeza img{
        width: 350px;
        height: 300px;
    }
}
@media screen and (max-width: 960px) { 
    .ofertas {
        width: auto;
        height: auto;
    }
}
//-------------------UBICACION---------------------
@media screen and (max-width: 700px) {
    .ubicacion{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "gps"
        "txt";
    }
    .gps{
        grid-area: gps;
    }
    .gps iframe{
        width:350px;
        height: 100vh;
    }
    .textubi{
        grid-area: txt;
    }
} 
//-----------------FOOTER-------------
@media screen and (max-width:560px) {    
    .pie ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}